<dx-data-grid
  [dataSource]="dataSource"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
  <dxi-column dataField="ekipman_name" dataType="string"></dxi-column>
  <dxi-column dataField="ekipman_no" dataType="string"></dxi-column>
  <dxi-column dataField="seri_no"dataType="string"></dxi-column>
  <dxi-column dataField="kalibr_sertifika_no" dataType="string"></dxi-column>
  <dxi-column dataField="durumu" dataType="string"></dxi-column>
  <dxi-column dataField="son_kalibrasyon"dataType="string"></dxi-column>
  <dxi-column dataField="sorumlusu" dataType="string"></dxi-column>

</dx-data-grid>
