<div id="config" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg " style = "background-color:#3296c8"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header " style = "background-color:#3296c8" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }" >
                    notifications_active
                </mat-icon>
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }" style="color:white">
                    Öneri Kutusu
                </span>
            </div  >
            <!-- / APP TITLE -->
      
            <!-- <span style="color:#000">Yeni Montaj Siparişi Ekle</span>
        </button> -->
            <!-- / ADD BUTTON -->
                 <!-- ADD BUTTON -->
                 <button
                 mat-raised-button
                 class="mat-focus-indicator primary mat-button mat-button-base"
                 [routerLink]="'/apps/dilekOneri/oneriOlustur'"
                 
                 
             >
                 <span style="color:#000!important">Öneri Oluştur</span>
             </button>
             <button
             mat-raised-button
             class="mat-focus-indicator primary mat-button mat-button-base"
             [routerLink]="'/apps/dilekOneri/rapor-oneri'"
             *ngIf="user_type === 1 || user_type === 0"
             
         >
             <span style="color:#000!important">Raporlama</span>
         </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <!-- CONTENT CARD -->
        <div class="content-card" style="overflow-y: auto; padding: 10px">
            <div id="printable" class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}" >
                <div class="course"  style="padding: 20;height: 20rem; " fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="100" [@animate]="{value:'*',params:{y:'50%'}}"  >
                 <div class="conteiner">
                    <div class="row">
                        <div class="col-12" style="padding:50px;">
                         <h1>  Dilek ve Önerilerinzi için Kişisel bilgileriniz isteğiniz dışında kayıt altına alınmayacaktır.</h1>  
                         
                           
                        
                        </div>
                    </div>
                 </div>
               
              
                </div>
              
              </div>
              
          
                    
                          


                    
                
            
           

        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>

</div>