table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  th:first-child {
    border-top: none;
  }
  
  tr:first-child th {
    border-left: none;
  }