.work_stations{
    background: #1faab5;
    padding: 2px;
    border-radius: 5px;
    width:110%;

}

.work_stations .header{
    font-size: 13px;
    color: #ffffff;
    padding: 10px;
}
.work_stations .body{
    background-color:white;
    margin-bottom: -10px;
    width:110%;


}