
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  tr.parent {
    background-color: #f0f0f0; /* Ana ebeveyn satırlar için bir arka plan rengi */
  }

  /* Alt satırları ayırt etmek için daha açık bir renk */
  tr.child {
    background-color: #f9f9f9; /* Alt satırlar için farklı bir arka plan rengi */
  }

  /* Statu değeri 3 olan satırları yeşil olarak işaretle */
  tr.status-3 {
    background-color: #b8e994; /* Statu değeri 3 olan satırlar için yeşil arka plan rengi */
  }