<mat-accordion class="example-headers-align">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
               Hakkında
            </mat-panel-title>
        </mat-expansion-panel-header>
       
        <div class="about">
            <p>Bu proje Aselsan optik (sivas) fabrikası tarafından mzf ileri teknolojileri a.ş arasındaki anlaşma sonucunda oluşmuştur .</p>
            <p>Proje Dahilinde</p>
            <ul>
                <li>Üretim</li>
                <li>Kaplama</li>
                <li>Montaj</li>
            </ul>
            <p>Aşamalar Karşılıklı anlaşmalar sonrasında </p>
            <ul>
                <li>Mobil Tablet ( Android ) </li>
                <li>Web ( Dashboard )</li>
            </ul>
            <p>Olmak üzere 2 platform üzerinde yazılmıştır </p>
            <p>Aşağıda Yapılan İlk kurulumdan son kuruluma kadar geliştirmeler , düzenlemeler , revizeler ve  yayınlanan sürüm raporları bulunmaktadır .</p>
            <p><a target="http://bulutify.com">Bulutify.com</a></p>
            <p><a target="http://bulutify.com">info@bulutify.com</a></p>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 6.0.7.19 ( Teslim )
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 19 Temmuz 2020
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Parçalar Oluşturmak </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Parçalar Birleştirmek ve Çalıştırmak  </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Dürbün Oluşturmak </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Dürbün Birleştirmek ve Çalıştırmak  </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Seri numarası olmadan dürbün oluşturmak   </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Kısmında Seri numarası ile dürbün oluşturmak  </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Bulutify tarafından yönetilebilen bir kod geliştirmek BULKOD ( bulutify kod ) bu kodun standartları yıl-ay-gün-(günlük kaçıncı üretim) bilgisini tutmak şeklindedir örn : 2020-06-10-1 </a>

            </li>
            
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Fire Talebi Dürbün/Parça </a>
                <ul>
                    <li>Oluşturmak</li>
                    <li>Onaylamak</li>
                    <li>Açmak-Çalışmak-Kapatmak</li>
                    <li>Onay kısmına göndermek </li>
                    <li>Kalite kontrol'e göndermek  </li>
                </ul>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Tamir Talebi Dürbün/Parça </a>
                <ul>
                    <li>Oluşturmak</li>
                    <li>Onaylamak</li>
                    <li>Açmak-Çalışmak-Kapatmak</li>
                    <li>Onay kısmına göndermek </li>
                    <li>Kalite kontrol'e göndermek  </li>
                </ul>

            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB-Montaj</span></a>
                <a style="margin-left: 32px;">Montaj için İş Emri oluşturmak ve düzenlemek </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB-Montaj</span></a>
                <a style="margin-left: 32px;">Reçeteler Oluşturmak ve düzenlemek   </a>
                <ul>
                    <li>Kalite Kontrol Listesi</li>
                    <li>Check List </li>
                    <li>Ekstra Ürün Girişi</li>

                </ul>
            </li>


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 6.0.4.13
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi :13 nisan 2020 13:00  
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/ÜRETİM</span></a>
                <a style="margin-left: 15px;">İş Emri Açılışlarını Düzenlemek </a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/ÜRETİM</span></a>
                <a style="margin-left: 15px;">İş Havuzu Düzenlenmesi </a>

            </li>
            

            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/ÜRETİM</span></a>
                <a style="margin-left: 15px;">Kutu Qr Kod Okuma İşlemi Düzenlenmesi/Revize</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/ÜRETİM</span></a>
                <a style="margin-left: 15px;">Rework Kutusu Problemleri Ve Çözümleri</a>

            </li>
            
            


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 6.0.2.17
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 17 şubat 2020 
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/MONTAJ</span></a>
                <a style="margin-left: 15px;">Montaj Parça için Fire Talebi Oluşturmak ve Yönetmek</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/MONTAJ</span></a>
                <a style="margin-left: 15px;">Montaj Tüm Dürbün Fire Tamir Talebi Oluşturmak ve Yönetmek</a>

            </li>
            

            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/MONTAJ</span></a>
                <a style="margin-left: 15px;">Montaj Parça için Tamir Talebi Oluşturmak ve Yönetmek</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE/MONTAJ</span></a>
                <a style="margin-left: 15px;">Montaj Tüm Dürbün için Tamir Talebi Oluşturmak ve Yönetmek</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Üretim 1.Ekranı Tamamlandı  </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Üretim 2.Ekranı Tamamlandı  </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Tamir 1.Ekranı Tamamlandı  </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Tamir 2.Ekranı Tamamlandı  </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Fire Ekranı Tamamlandı  </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB/RAPORLAR</span></a>
                <a style="margin-left: 32px;">Montaj Dürbün Detay Ekranı  </a>
            </li>
            


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 5.0.27.12
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 27 Aralık 2019
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Hattında
                    Çalışan opertörler için yeni kullanıcı tipi
                    oluşturuldu</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Devam eden , bekleyen ve
                    tamamlanmış sipariş'i cart olarak gösterimi
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Dürbün Oluşturmak ve standart'a
                    göre dürbünü çizmek ( Desteklenen 5 adet stanart vardır
                    , 1 parçalı , 2parçalı , 3 parçalı ,4 parçalı ,5 parçalı
                    )</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Parça Başlatmak ,Tamamlamak ve ona
                    ait tamir talepleri oluşturmak </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Parça Altındaki operasyonları
                    başlatmak ,tamamlamak. </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Parça altındaki operasyona malzeme
                    girdisi yapmak (Fire ve miktar).</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Dürbün Tamamlamak yada tamir
                    talebi oluşturmak </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Dürbünün kutuya otomatik olarak
                    depo kutusuna eklenmesi ( Marka numarası yazılması )</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Montaj Hattında çalışan operatör
                    tipine göre tamir taleplerini göstermek ( vardiya amiri
                    , kalite kontrol ) </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Tamir Talebi yönetim sistemi (
                    operatör oluşturur , vardiya amiri onaylar ve tanımlar
                    )</a>
            </li>


            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Montaj Reçetesi oluşturma ( Parça
                    Ekleme , Operasyon EKleme , Ürün EKleme</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Montaj Sipariş Ekleme ve Takibi Ekranı</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Depo Listesi oluşturma , montaj
                    kutuların excel üzerinde yazdırma .</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Montaj Reçetesi oluşturma .</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Analiz Ekranları
                    <ul style="    margin-left: 100px;">
                        <li>Aylık Bazlı toplam üreitim</li>
                        <li>Aylık Bazlı Makina Üretimi</li>
                        <li>Aylık ok,rework,fire</li>
                        <li>Aylık ürün Bazlı Üretim</li>
                        <li>Operatör İSD ( ilk seferde doğru üretim )
                        </li>
                        <li>Makina İSD ( ilk seferde doğru üretim )</li>
                        <li>Ürün İSD ( ilk seferde doğru üretim )</li>
                    </ul>
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Bir önceki verildiği versiyon
                    bütün notlar ve hatalar düzeltmiştir.</a>
            </li>


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 4.0.10.8
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 9 Ekim 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Devam eden üretim emri
                    için makineyi değiştirmek.</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Devam eden üretim emri için bir
                    kaç kutu açmak ve çalışmak aynı anda, devam eden kutular
                    kısmından açılan kutulara girilebilir.
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite kontrol operasyonlarının 2
                    aşamalı yapılması, 1. aşamada göz kontrolü vb. 2.aşama
                    ölçüm değerlerinin girilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Hızlı ve güvenli operatör girişi
                    QR kod ile </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Vardiya değişimi, devam eden
                    üretim emrini iş Havuzuna atılabilmesi ve sonrasında bu
                    Üretim emrini farklı operatör tarafından devam
                    edilebilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Rework kutusun açıldığı zamanda
                    hangi operasyona geri dönecek seçilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite Kontrol Rework değer
                    girildikten sonra değerin değişmesi ve Reworkten
                    vazgeçilmesine imkan sağlanması</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Operasyonlara ait değerlerin
                    mobile tarafından dinamik okunması ve girilmesi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite Kontrolde Ok ürünler için
                    toplu seçim yapmasına imkan sağlamak.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Giren Ürün kodunu eklenmesi ve
                    mobil tarafından göstermesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Her sipariş eklendiği zamana bir
                    renk alıyor ve bu renk siparişe ait bütün üretim
                    emrilerine mobil tarafından görünüyor.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Üretim emri ekranına operasyonun
                    türüne göre filtreleme eklendi..</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Üretimdeki son operasyonunda (
                    Merkezleme ) kutunu bitirmek ve depoya boşaltmak (
                    deponun kutusunu açmak ve kapatmak.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Bir önceki verildiği versiyon
                    bütün notlar ve hatalar düzeltmiştir.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Veritabanı yönetim sistemi</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;"> kutular toplu bir şekilde
                    oluşturması. </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Operasyonlara ait değerlerin web tarafından girilmesi ve
                    mobile tarafından dinamik okunması ve girilmesi. </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Çoklu seçim yapıldığında seçimi
                    onaylamadan Tamamlama botunu devredışı bırakıldı.</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Rapor Ekranları
                    <ul style="    margin-left: 100px;">
                        <li>TV Ekranı</li>
                        <li>Makina Takibi Ekranı</li>
                        <li>Operasyon Takibi</li>
                        <li>Kutu Takibi Ekranı</li>
                        <li>Stok Takibi Ekranı</li>
                    </ul>
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Bir önceki verildiği versiyon
                    bütün notlar ve hatalar düzeltmiştir.</a>
            </li>


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 3.0.9.16
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 16 Eylül 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Devam eden üretim emri
                    için makineyi değiştirmek.</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Devam eden üretim emri için bir
                    kaç kutu açmak ve çalışmak aynı anda, devam eden kutular
                    kısmından açılan kutulara girilebilir.
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite kontrol operasyonlarının 2
                    aşamalı yapılması, 1. aşamada göz kontrolü vb. 2.aşama
                    ölçüm değerlerinin girilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Hızlı ve güvenli operatör girişi
                    QR kod ile </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Vardiya değişimi, devam eden
                    üretim emrini iş Havuzuna atılabilmesi ve sonrasında bu
                    Üretim emrini farklı operatör tarafından devam
                    edilebilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Rework kutusun açıldığı zamanda
                    hangi operasyona geri dönecek seçilmesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite Kontrol Rework değer
                    girildikten sonra değerin değişmesi ve Reworkten
                    vazgeçilmesine imkan sağlanması</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Operasyonlara ait değerlerin
                    mobile tarafından dinamik okunması ve girilmesi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kalite Kontrolde Ok ürünler için
                    toplu seçim yapmasına imkan sağlamak.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;"> Giren Ürün kodunu eklenmesi ve
                    mobil tarafından göstermesi</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Her sipariş eklendiği zamana bir
                    renk alıyor ve bu renk siparişe ait bütün üretim
                    emrilerine mobil tarafından görünüyor.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Üretim emri ekranına operasyonun
                    türüne göre filtreleme eklendi..</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Üretimdeki son operasyonunda (
                    Merkezleme ) kutunu bitirmek ve depoya boşaltmak (
                    deponun kutusunu açmak ve kapatmak.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Bir önceki verildiği versiyon
                    bütün notlar ve hatalar düzeltmiştir.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Veritabanı yönetim sistemi</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;"> kutular toplu bir şekilde
                    oluşturması. </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Operasyonlara ait değerlerin web tarafından girilmesi ve
                    mobile tarafından dinamik okunması ve girilmesi. </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Çoklu seçim yapıldığında seçimi
                    onaylamadan Tamamlama botunu devredışı bırakıldı.</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Rapor Ekranları
                    <ul style="    margin-left: 100px;">
                        <li>TV Ekranı</li>
                        <li>Makina Takibi Ekranı</li>
                        <li>Operasyon Takibi</li>
                        <li>Kutu Takibi Ekranı</li>
                        <li>Stok Takibi Ekranı</li>
                    </ul>
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Bir önceki verildiği versiyon
                    bütün notlar ve hatalar düzeltmiştir.</a>
            </li>


        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 2.0.7.19
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 19 Temmuz 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a style="float:left"><span class="badge"
                        style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Tüm Kalite Kontrol
                    İşlemi.</a>

            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Çoklu seçim yapmış olan operatör
                    herhangi bir sebeple bu seçimden vazgeçip tekrar seçim
                    yaptığında seçilmiş olan lens sayısı olması gerekenden 1
                    tane fazla görünüyordu. Bu hata düzeltildi.
                </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Ara kalite kontrol seçeneği
                    (özellikle taşlama operasyonu için gerekli)
                    tamamlandı.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Tüm Kalite Kontrol İşlemi. </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">
                    Üretilen Kutular için Rework , Duruş ve Fire
                    Kategorileri için operatörün girmesi gereken
                    kalite kontrol aşaması için değerleri girebilecek . </a>
            </li>


            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Çoklu seçim yapıldığında seçimi
                    onaylamadan Tamamlama botunu devredışı bırakıldı.</a>
            </li>




        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 2.0.6.10
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 10 Haziran 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kutu kodu manual bir şekilde
                    girmesi ve kutu açması..</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Duruş design ekranı
                    değiştirildi . </a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Yonetim panelinden bir operasyonun
                    kalite kontrol operasyonu oldugu kısmı Eklendi . </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Üretim Emirleri / İş emirleri
                    Takip Ekranı Eklendi , Operatörler tarafından yapılan
                    operasyonları ve üretimleri takip edebileceğiniz bir
                    ekran . </a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 32px;">Müşteri Kısmı Eklendi ( müşteriler
                    ekleniyor ) </a>
            </li>

        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 2.0.6.1
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 1 Haziran 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>



            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Operatör Kutu seçimi yaparken
                    kutunun kodu yada Qr kodu ile seçebilecek .</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Operatör aynı üretim emrine ait
                    olan açık bir kutu
                    üzerinde birkaç tabletten
                    ayni zamanda çalışabilir.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Lens Ekranında Bütün Zoom
                    Butonları aktif hale
                    gelecek</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kutuların içerisinde birden fazla
                    lens seçip
                    güncelleme işlemi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Sipariş içerisinde Parçalı üretim
                    emri oluşturma
                    kısmı eklenmiştir .</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Database de üretim emirlerine
                    üretime start
                    verilip , verilmedigini kontrol eden
                    kısmı eklemek , eğer üretime start vermediysek
                    operatörlere
                    gitmiyor.</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Satış Sayfası Eklendi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Firma Sayfası Eklendi.</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Sipariş oluştururken Seçilen Her
                    Ürün için Bir analiz oluşmaktadır. Stoktan Ne kadar
                    Kalmış ? , Bu sipariş Ne kadar Sürecek ..</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Bütün Ekleme kısımlarına
                    Validation'lar eklendi .</a>
            </li>



        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 2.0.5.24
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 24 Mayıs 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Lens güncelleme içerisindeki
                    yanlışlıkla seçilen
                    bir lensin tekrar default hale getirilmesi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Operatör hızlı kullanıcı
                    değiştirme.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kutu standard "64"
                    eklenmiştir.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Lens Ekranında Bütün Zoom
                    Butonları aktif hale
                    gelecek ( Full screen, fit to
                    screen).</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge " style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Operatör aynı üretim emrine ait
                    olan açık bir kutu
                    üzerinde birkaç tabletten
                    ayni zamanda çalışabilir.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Lens Ekranında Bütün Zoom
                    Butonları aktif hale
                    gelecek</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge" style="background-color: #f77858;color:white">MOBILE</span></a>
                <a style="margin-left: 15px;">Kutuların içerisinde birden fazla
                    lens seçip
                    güncelleme işlemi.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Sipariş içerisinde Parçalı üretim
                    emri oluşturma
                    kısmı eklenmiştir .</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Database de üretim emirlerine
                    üretime start
                    verilip , verilmedigini kontrol eden
                    kısmı eklemek , eğer üretime start vermediysek
                    operatörlere
                    gitmiyor.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Siparişe operatörlere tanımlarken
                    gelen ekranda
                    eğer bir üretim emri bir operatör
                    tarafından başlanmışsa onu göstermek.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Operasyonlara standart zaman
                    girilmesi , saat ,
                    dakika , saniye.</a>
            </li>

            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Sipariş içerisinde Standart üretim
                    emri oluşturmak
                    Fabrika üzerindeki o makinada çalışan tüm operatörlere
                    bilgi gider.</a>
            </li>
            <li class="list-group-item list-group-item-light">
                <a><span class="badge badge-info">WEB</span></a>
                <a style="margin-left: 27px;">Siparişin toplam süresi reçete
                    eklenen her
                    operasyona göre değişmektedir .
                    Operasyonun Süreleri Değiştirilince reçetenin süresi
                    otomatik olarak
                    değişmektedir.</a>
            </li>



        </ul>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Version : 1.0.5.15 (İlk Kurulum)
            </mat-panel-title>
            <mat-panel-description>
                Yayınlanma Tarihi : 15 Mayıs 2019 13:00
            </mat-panel-description>
        </mat-expansion-panel-header>

    </mat-expansion-panel>
</mat-accordion>