<div class="center">
    <div class="content-card" style="overflow-y: auto; padding: 10px;margin-left: 20%;margin-top:5%">

    <div class="example-button-row">
        <button mat-raised-button class="btnGenisletme" extended color="accent" (click)="planlamayaGit()">
            <mat-icon> {{currentIconPlan}}</mat-icon>
            Planlama
        </button>



        <button mat-raised-button class="btnGenisletme" extended color="warn" (click)="bakimOnarimGit()">
            <mat-icon>{{ currentIconBakim }}</mat-icon>



            Bakım Onarım </button>

        <button mat-raised-button class="btnGenisletme" extended color="Basic" (click)="mekanikAtolyeGit()">
            <mat-icon>{{ currentIconMekanik }}</mat-icon> Mekanik Üretim


        </button>

</div>

    </div>
</div>