.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
.btnGenisletme{
    width: 300px;
    height: 100px;
}
.animatedIcon {
  transition: transform 1s ease; /* Animasyon geçiş efekti */
}