.departmant{
    margin: 10px;
    
    border: 1px solid;
    border-radius: 10px;
    width:100%;

}

.departmant .header{
    background-color: #1faab5;
    margin: 10px;
    font-size: 17px;
    color:White;
    padding: 10px;
    border-radius: 11px;
    width:100%;

}
.departmant .body{
    background-color:white;
    margin:10px;
    width:100%;
}