<div id="config" class="page-layout carded fullwidth inner-scroll">
    <!-- TOP BACKGROUND -->
    <div class="top-bg " style="background-color:#3296c8"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">
        <!-- HEADER -->
        <div class="header " style="background-color:#3296c8" fxLayout="column" fxLayoutAlign="center center"
            fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">
            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <!-- <mat-icon class="logo-icon s-32 mr-16" [@animate]="{
                        value: '*',
                        params: { delay: '50ms', scale: '0.2' }
                    }">
                    notifications_active
                </mat-icon> -->
                <span class="logo-text h1" [@animate]="{
                        value: '*',
                        params: { delay: '100ms', x: '-25px' }
                    }" style="color:white">
                    Egitimler

                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- <span style="color:#000">Yeni Montaj Siparişi Ekle</span>
        </button> -->
            <!-- / ADD BUTTON -->
            <!-- ADD BUTTON -->
            <button mat-raised-button class="mat-focus-indicator primary mat-button mat-button-base"  (click) = "egitimEkle()"
                *ngIf="user_type === 1 || user_type === 0"
                >
                <span style="color:#000!important">Eğitim Video Ekle</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <!-- CONTENT CARD -->
        <div class="content-card" style="overflow-y: auto; padding: 10px">

            <div id="printable" class="courses" fxLayout="row wrap" fxLayoutAlign="center"
                [@animateStagger]="{value:'50'}">
                <div class="course" style="padding: 1;height: 20rem;" fxFlex="100" fxFlex.gt-xs="100" fxFlex.gt-sm="100"
                    [@animate]="{value:'*',params:{y:'100%'}}">
                    <iframe src="url" title="description"></iframe>
<!--                 
                    <div class="course scrollable-overlay"  style="padding: 1;height: 20rem;" fxFlex="100" fxFlex.gt-xs="100"
                        fxFlex.gt-sm="100" [@animate]="{value:'*',params:{y:'100%'}}">
                        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

                            <div class="content" fxLayout="column" style="padding: 0;font-size:x-large"
                                fxLayoutAlign="center center" fxFlex="1 1 auto">
                                {{box.Name}}
                            </div>

                            <div class="content" fxLayout="column" fxLayoutAlign="center center" fxFlex="1 1 auto">
                                <div class="box_type bosta">
                                    <div class="video-content">
                                        <div class="" *ngIf="yenile" >
                                            <video width="100%" height="100%" controls #myVideo (ended)="videoEnded()">
                                                <source [src]="box.Video" type="video/mp4">
                                            </video>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="course" style="padding: 1;height: 20rem;" fxFlex="100" fxFlex.gt-xs="30"
                        fxFlex.gt-sm="30" [@animate]="{value:'*',params:{y:'100%'}}">
                        <div class="course-content" fxLayout="column" fxFlex="1 1 auto">

                            <div class="content" fxLayout="column" style="padding: 0;font-size:x-large"
                                fxLayoutAlign="center center" fxFlex="1 1 auto">
                                EGİTİM LİSTESİ
                            </div>

                            <div class="content" fxLayout="column" fxLayoutAlign=" " fxFlex="1 1 auto"
                                style="background-color: rgb(252, 252, 252);">
                                <div class="box_type bosta">
                                    <div class="video-list"  *ngFor="let egitimler of egitimler">
                                        <a class="egitimLists custom-links" (click)="egitimAc(egitimler)">
                                          <input type="checkbox"  [(ngModel)]="egitimler.izlendi">  {{egitimler.Name}} 
                                            
                                        </a>
                                     
                                        <hr>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div> -->
                </div>

            </div>

            <!-- / CONTENT CARD -->
        </div>
        <!-- / CENTER -->
    </div>

</div>