<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/images/LOGO-01.svg">
            </div>

            <div class="title">Şifremi Unuttum</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Email Adresiniz</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Zorunlu Alan
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('email')">
                        Lütfen Geçerli Bir Mail Adresi Giriniz
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                <mat-label>Sicil Numaranız</mat-label>
                <input matInput formControlName="sicil">
                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                <mat-error *ngIf="forgotPasswordForm.get('number').hasError('required')">
                    Zorunlu Alan
                </mat-error>
                <mat-error *ngIf="forgotPasswordForm.get('number').hasError('number')">
                    Lütfen Geçerli Bir Sicil Numarası Giriniz
                </mat-error>
            </mat-form-field>
                <button mat-raised-button class="submit-button" color="accent"
                        aria-label="SEND RESET LINK" [disabled]="forgotPasswordForm.invalid">
                    Şifre Değişikliği İste
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/pages/auth/login-2'">Giriş Sayfasına Geri Dön</a>
            </div>

        </div>

    </div>

</div>
