.workorders {
    .dx-datagrid-headers .dx-header-row {
        background-color: #1faab5;
        color: white;
        font-weight: 500;
        font-size: larger;
        align-items: center;
    }
}
